<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Amazeryogo's Website</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://project-inspirations.herokuapp.com/">Old website</a>
        </li>
        </ul>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="navbar navbar-dark bg-info">
  <a href="mailto:suvid.datta@gmail.com"><img src="static/gmail.png" width="40" height="40" alt="mail"></a>
  <a href="https://www.instagram.com/amazeryogo/"><img src="static/instagram.png" width="40" height="40" alt="instagram"></a>
  <a href="https://github.com/Amazeryogo"><img src="static/github.png" width="40" height="40" alt="github"></a>
  <a href="https://www.reddit.com/user/Amazeryogo"><img src="static/reddit.png" width="40" height="40" alt="reddit"></a>
  <a href="https://www.twitch.tv/amazeryogo29"><img src="static/twitch.png" width="40" height="40" alt="twitch"></a>
  <a href="https://www.youtube.com/channel/UCTqxrChE3FXhy_yJg93pX4A"><img src="static/youtube.png" width="40" height="40" alt="Youtube"></a>
  <a href="https://open.spotify.com/user/p46kuy15wgr1aa8x132asq9o4?si=z8QyJlt8SiWFL1r-4bNO3w"><img src="static/spotify.png" width="40" height="40" alt="spotify"></a>
  <a href="https://lifeonearth1024.blogspot.com/"><img src="static/blog.png" width="40" height="40" alt="blog"></a>
  <br/>
  <br/>
</div>
    <div class="container-fluid">
    <h1 style="text-align: center">Suvid Datta</h1>
    <h6 style="text-align: center">Your IP is {{ip}} , dont panic</h6>
    <img src="{{ gravatar }}" alt="my amazing pfp" style="display: block;margin-left: auto;margin-right: auto;" class="image-circle">
    <div class="container">
        <div class="card">
        <h5 class="card-header">Academic Information</h5>
        <div class="card-body">
            <p class="card-text">Age: 15/Class: 10</p>
            <p class="card-text">School: PSBB Millenium School, Chennai</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Information related to computers</h5>
        <div class="card-body">
            <p class="card-text">OS: Pop!_OS, Fedora</p>
            <p class="card-text">Laptop: Xiaomi Mi Notebook 14 Horizon Edition</p>
            <p class="card-text">Desktop: Intel Nuc NUC8i5BEH</p>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Information related to programming</h5>
        <div class="card-body">
            <p class="card-text">Languages: Python,C++,Bash,Racket,Prolog</p>
            <p class="card-text">Frameworks: Flask, Django, LAMP</p>
            <p class="card-text">Tools: Pycharm Professional</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Personal Information</h5>
        <div class="card-body">
            <h3 class="card-text">Hobbies:</h3> <p class="card-text"> * collecting stamps<br/>  * reading novels<br/>  * playing badminton <br/>   * watching anime<br/>   * making new projects on github</p>
            <h3 class="card-text">Interests:</h3> <p class="card-text">* Maths<br/>  * Linux</p></h3>
        </div>
    </div>

  <div class="card text-dark bg-info mb-3">
      <div class="card-header">
          <h3 class="card-title">My Favourite Books</h3>
      </div>
      <div class="class-body">
          {% for book in books %}
          <h3 class="card-text" style="text-align: center">{{ book['name'] }}</h3>
          <p class="card-text" style="text-align: center">{{ book['author'] }}</p>
          {% endfor %}
      </div>
  </div>
  </div>
  </div>
        <footer class="footer">
      <div class="container">
        <span class="text-muted" style="text-align: center">&copy; 2022 Suvid Datta/Amazeryogo</span> <br/>
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
