<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazeryogo.in</title>
</head>
<body style="background-image">
<nav class="navbar navbar-dark bg-info test">
      <a class="nav-link" href="/projects">Projects</a>
      <a class="nav-link" href="https://project-inspirations.herokuapp.com/">Old website</a>
      <a class="nav-link" href="/">Home</a>
      <a href="mailto:suvid.datta@gmail.com"><img src="static/gmail.png" width="40" height="40" alt="mail"></a>
      <a href="https://www.instagram.com/amazeryogo/"><img src="static/instagram.png" width="40" height="40" alt="instagram"></a>
      <a href="https://github.com/Amazeryogo"><img src="static/github.png" width="40" height="40" alt="github"></a>
      <a href="https://www.reddit.com/user/Amazeryogo"><img src="static/reddit.png" width="40" height="40" alt="reddit"></a>
      <a href="https://www.twitch.tv/amazeryogo29"><img src="static/twitch.png" width="40" height="40" alt="twitch"></a>
      <a href="https://www.youtube.com/channel/UCTqxrChE3FXhy_yJg93pX4A"><img src="static/youtube.png" width="40" height="40" alt="Youtube"></a>
      <a href="https://open.spotify.com/user/p46kuy15wgr1aa8x132asq9o4?si=z8QyJlt8SiWFL1r-4bNO3w"><img src="static/spotify.png" width="40" height="40" alt="spotify"></a>
      <a href="https://lifeonearth1024.blogspot.com/"><img src="static/blog.png" width="40" height="40" alt="blog"></a>
    </nav>
    <h1 style="text-align: center">Inspiration and Regards</h1>

</body>
</html>